.bg-c-blue {
    background-color: #00a1f1;
}
.bg-c-gray {
    background-color: #fbfbfb;
}
.bg-c-gray-d {
    background-color: #dfdfdf;
}
.bg-c-green {
    background-color: #6dc238;
}
.bg-c-green-d {
    background-color: #48a809;
}
.bg-c-orange {
    background-color: #ffa200;
}
.bg-c-orange-d {
    background-color: #ff9000;
}
.bg-c-purple {
    background-color: #922A8E;
}
.bg-c-red {
    background-color: #f15623;
}