.menu {
  li {
    @apply  px-1 py-0 m-0 lg:px-3 h-full  
            flex items-center justify-center relative;
    
    a {
      text-align: center;
    }

    &:hover {
      &:after {
        opacity: 100%;
      }
    }

    &:nth-child(5n - 4):after {
      @apply bg-c-red
    }
    &:nth-child(5n - 3):after {
      @apply bg-c-purple
    } 
    &:nth-child(5n - 2):after {
      @apply bg-c-green
    } 
    &:nth-child(5n - 1):after {
      @apply bg-c-orange
    } 
    &:nth-child(5n):after {
      @apply bg-c-blue
    }

    &:after {
      content: '';
      @apply  translate-y-[11px] transition pointer-events-none 
              absolute bottom-0 opacity-0 w-full  h-1.5;
    }
  }

  & .menu-item-has-children {
    position: relative;

    &:hover > ul.sub-menu {
      @apply flex opacity-100 pointer-events-auto translate-y-3
    }

    ul.sub-menu {
      @apply  absolute left-1/2 top-1/2 -translate-x-1/2 translate-y-4 lg:translate-y-4 lg:-translate-x-full
              items-stretch flex flex-col 
              bg-white py-3 shadow-lg min-w-[300px] border-b border-b-gray-200 border-t border-t-gray-50 
              transition-all duration-300 ease-out
              opacity-0  z-10 pointer-events-none align-middle;
      & li {
        @apply  w-full px-2 my-3 lg:my-2 lg:px-8;
        &:after {
          transform: inherit;
          left: 0;
          bottom: auto;
          height: 100%;
          width: 6px;
        }
      }

      ul.sub-menu {
        left: unset;
        padding-top: 0.75rem;
        right: calc(100% + 0.1rem);
        top: -0.7rem;
        box-shadow: unset;
        @apply lg:pt-0;
      }
    }
  } 
}
