.menu {
  & > * > li {
    min-height: 2em;
    & > a {
      line-height: 2em;
    }
  }
  li {
    @apply px-1 lg:px-3 py-0;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    text-align: center;
    a {
      text-align: center;
    }
    &:not(.menu-item-has-children) a {
      display: block;
      
    }
    &:after {
      pointer-events: none;
    }
    &:hover {
      &:after {
        opacity: 100%;
      }
    }

    &:nth-child(5n - 4):after {
      @apply bg-c-red
    }
    &:nth-child(5n - 3):after {
      @apply bg-c-purple
    } 
    &:nth-child(5n - 2):after {
      @apply bg-c-green
    } 
    &:nth-child(5n - 1):after {
      @apply bg-c-orange
    } 
    &:nth-child(5n):after {
      @apply bg-c-blue
    }

    
    &:after {
      @apply translate-y-3 lg:translate-y-7;
      transition: all 0.2s;
      content: '';
      display: block;
      height: 6px;
      width: 100%;
      position: absolute;
      opacity: 0%;
      left: 0;
      bottom: 0;
    }
  }

  & .menu-item-has-children {
    position: relative;

    &:hover > ul.sub-menu {
      @apply flex translate-y-0 opacity-100 pointer-events-auto
    }

    ul.sub-menu {
      @apply  absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-1/2 
              lg:right-5 lg:translate-y-4 lg:translate-x-0 items-stretch
              flex bg-white py-3 shadow-lg min-w-[300px] border-b 
              border-b-gray-200 border-t border-t-gray-50 z-10 transition-all duration-300 ease-out
              opacity-0 flex-col z-50;
      & > li:after {
        height: 100%;
        width: 6px;
        transform: translate(0, 0);
    }
      & li {
        @apply w-full my-4 px-8;
      }

      ul.sub-menu {
        left: unset;
        padding-top: 0.75rem;
        right: calc(100% + 0.1rem);
        top: -0.7rem;
        box-shadow: unset;
        
      }
    }
  } 
}

@media (max-width: 1024px) {
  & .menu-item-has-children ul.sub-menu {
    text-align: center;
    li {
      @apply my-3 px-2
    }
    ul.sub-menu {
      padding-top: 0;
      text-align: center;
    }
  }
}
